.banner-section{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../assets/img/banner-bkg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    overflow: hidden;

    .clock-banner{
        height: 600px;
        z-index: -1 !important;
        margin-top: 30px;
    }
    .banner-description{
        position: relative;
    }
    .banner-text{
        position: absolute;
        color: rgba(255, 255, 255, 0.502);
        background-color: black;
        top: 20%;
        left: 0;
        z-index: 1;
        border-bottom: 4px solid white;
        padding: 10px;
        h1{
            font-size: 80px;
            font-weight: 200;
        }
    }
    .local-time{
        position: absolute;
        color: rgba(255, 255, 255, 0.37);
        border-bottom: 4px solid white;
        padding: 10px;
        background-color: black;
        bottom: 0;
        right: 0;
        font-size: 60px;
        font-weight: 300;
        z-index: 1;
    }
    .arrow-banner{
        position: absolute;
        color: white;
        font-size: 80px;
        bottom: 0;
        left: 0%;
        right: 0%;
        margin: 20px;
        z-index: 1;
    }
}
.banner-section::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 0;
}
