@import "./_header";
@import "./_shoppingCart";
@import "./_banner";
@import "./_queries";
@import "./_section_square";
@import "./_tienda";
@import "./_modal_product_preview";
@import "./_nosotros";
@import "./_footer";

// ESTILOS

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(26, 26, 26);
}
.shopping-added{
    position: fixed;
    width: auto;
    bottom: 0;
    right: 0;
    background-color: #0A369D;
    color: white;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
    z-index: 100;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    box-shadow: 10px 5px 35px rgba(0, 0, 0, 0.363);
}
.shopping-added-visible{
    opacity: 1;
    visibility: visible;
}
